.accordionContent{
    padding-left: 8rem;
    padding-right: 0.3rem;
}

.accordionHeader__softDelete{
    text-decoration: line-through;
    opacity: 70%;
}

.accordionHeaderAction__isEditable{
  margin-right: 10rem;
}

.accordionHeaderAction__isReadonly{
  margin-right: 196.5px;
}

.accordionDeleteButtonContainer{
  margin-left: 7.2px;
}

