.searchSection {
    margin-top: 2rem;
}

.searchInputs {
    display: flex;
    gap: 1rem;
    align-items:end;
}

.searchField {
    width: 50%;
}

.filterChips {
}

.resultCountAndChips {
    display: flex;
    align-items: end;
    gap: var(--fds-spacing-2);
    margin-top: var(--fds-spacing-8);
}

.serviceResouces {
    margin-top: var(--fds-spacing-2);
    display: flex;
    flex-direction: column;
    gap: var(--fds-spacing-2);
}