.reporteeListHeading {
  margin-top: 15px;
  padding-bottom: 1.05rem;
}

.reporteeList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.searchBar {
  max-width: 27rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 11px;
}
