@media only screen and (max-width: 768px) {
  .listItemTexts {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .middleText {
    margin-top: 5px;
    opacity: 60%;
  }
}

@media only screen and (min-width: 769px) {
  .listItemTexts {
    display: flex;
  }

  .middleText {
    flex: 1;
    display: flex;
    margin-right: auto;
    margin-left: 30px;
  }
}

.actionButton {
  padding: 0;
}

.baseListItemContent {
  display: flex;
  flex: 1;
  align-items: center;
}

.compactListItem {
  display: flex;
  margin-left: 10px;
  min-height: 40px;
}

.deleteSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.listItemTexts {
  --list-text-color-error: #e02e49;
  font-size: 16px;
  flex: 1;
  align-items: center;
}

.leftText {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  word-break: break-word;
}

.listItemIcon {
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.middleText {
  word-break: break-word;
}

.leftText__error {
  color: var(--list-text-color-error);
}

.middleText__error {
  color: var(--list-text-color-error);
}
