.list {
  display: flex;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .list {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .listItem {
    justify-content: center;
    display: flex;
  }
}
