.notFoundSiteWrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.errorMessage {
  font-size: 14px;
  color: darkslategray;   
}

.contentText {
  font-size: 20px;
}

.flexContainer {
  display: flex;
}

.leftContainer {
  flex: 3;
}

.rightContainer {
  flex: 1;
}

.link {
  color: black;
  text-decoration-line: underline;
  text-decoration-color: #1EADF7;
  display: inline-block;
  background: transparent;
}

@media only screen and (max-width: 576px) {
  .rightContainer {
      display: none;
  }

  .header {
      font-size: 20px;
  }

  .contentText {
      font-size: 14px;
  }
}