.deletable-list-item__deleteSection {
    display: flex;
    align-items: center;
}

.deletable-list-item__listItem {
    display: flex;
    margin: 0.3rem;
}

.deletable-list-item__itemText {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.deletable-list-item__itemText--soft-delete {
    text-decoration: line-through;
    opacity: 70%;
}