.pageContent{
  --pageContentMargin: 1.5rem;
  margin-left: var(--pageContentMargin);
  margin-right: var(--pageContentMargin);
  margin-bottom: var(--pageContentMargin);
  padding: 0.5rem;
  overflow: hidden;
}

.overviewAccordionsContainer{
  margin-top: 3rem;
}

.saveSection{
  margin-top: 3rem;
  margin-right: 0.5rem;
  display: flex;
  float: right;
  justify-content: space-around;
}

.delegateNewButton{
  margin-bottom: 3rem; 
}

.apiSubheading{
  margin-top: 4rem;
  font-weight: normal;
  align-self: flex-end;
  margin-bottom: 10px;
}

.pageContentContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.editButton {
  align-self: flex-end;
}

.pageContentText {
  font-weight: normal;
  margin-top: -2rem;
}

.infoPanelWrapper{
  overflow-wrap: anywhere;
}

@media only screen and (max-width: 576px) {
  .apiSubheading{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
