@media only screen and (max-width: 768px) {
  .overviewAccordionsContainer{
    margin-top: 0rem;
  }

  .delegateNewButton{
    margin-bottom: 1.3rem;
    margin-top: 0rem;
  }

  .activeDelegationsHeader {
    margin-top: 0.1rem;
  }

  .editButton {
    margin-bottom: 0.3rem;
  }
}

@media only screen and (min-width: 769px) {
  .overviewAccordionsContainer{
    margin-top: 3rem;
  }

  .delegateNewButton{
    margin-bottom: 3rem;
  }

  .activeDelegationsHeader {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }

  .saveSection{
    margin-top: 2rem;
    margin-right: 0.5rem;
    float: right;
  }

  .editButton {
    justify-content: flex-end;
    display: flex;
    flex: 1;
  }


  .activeDelegations{
    overflow-y: auto;
    max-height: 500px;
  }
}

.noActiveDelegations {
  margin-top: 1.5rem;
}

.spinnerContainer{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.saveSection{
  margin-top: 2rem;
}

.apiSubheading{
  display: flex;
  margin-bottom: 2rem;
}

.pageContentText {
  font-weight: normal;
  margin-top: -2rem;
}

.link {
  color: black;
  text-decoration-line: underline;
  text-decoration-color: #1EADF7;
  display: inline-block;
  background: transparent;
}

.errorPanel{
  margin-top: 2rem;
}

.activeDelegations{
  min-height: 100px;
}
