@media only screen and (min-width: 0px) {
  .searchSection{
    --searchFieldWidth: 100%
  }

  .accordionScrollContainer {
    margin-bottom: 30px;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
  }

  .pageContent{
    --component-page-margin-horizontal: rem;
    margin-right: var(--component-page-margin-horizontal);
    margin-left: var(--component-page-margin-horizontal);
  }
}

@media only screen and (min-width: 576px) {
  .searchSection{
    --searchFieldWidth: 100%
  }

  .accordionScrollContainer {
    height: 300px;
    overflow-y: auto;
  }

  .pageContent{
    --component-page-margin-horizontal: 3rem;
    margin-right: var(--component-page-margin-horizontal);
    margin-left: var(--component-page-margin-horizontal);
  }

  .apiAccordions{
    margin-right: 3rem;
  }

  .pageContentAccordionsContainer{
    grid-template-columns: 1fr 1fr;
    display:grid;
  }
}

@media only screen and (min-width: 768px) {
  .searchSection{
    --searchFieldWidth: 50%
  }
}

@media only screen and (min-width: 992px) {
  .searchSection{
    --searchFieldWidth: 50%
  }
}

.pageContent{
  --component-page-margin-horizontal: 3rem;
  margin-right: var(--component-page-margin-horizontal);
  margin-left: var(--component-page-margin-horizontal);
}

.searchSection{
  width: var(--searchFieldWidth);
}

.filter {
  padding-top: 1rem;
}
