@media only screen and (max-width: 0px) {
  .searchSection{
    width: 100%
  }

  .accordionScrollContainer {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .searchSection{
    width: 50%
  }

  .pageContentAccordionsContainer{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .apiAccordions{
    margin-right: 3rem;
  }

  .accordionScrollContainer {
    height: 300px;
    overflow-y: auto;
  }
}

.filter {
  padding-top: 1rem;
}
