@media only screen and (max-width: 768px) {
  .searchField{
    width: 45%
  }

  .accordionScrollContainer {
    margin-bottom: 30px;
    width: 100%;
  }
  .searchSection{
    display: flex;
    align-items: center;
  }


  .filter {
    padding-top: 0.5rem;
  }
}

@media only screen and (min-width: 769px) {
  .searchSection{
    display: flex;
    align-items: center;
  }

  .searchField{
    width: 45%
  }

  .pageContentAccordionsContainer{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .accordionScrollContainer {
    height: 300px;
    overflow-y: auto;
  }

  .filter {
    padding-left: 1rem;
  }
}

.chosenOrgsListHeader{
  font-weight: 500;
}

.chooseApiSecondHeader{
  font-weight: 500;
}

.delegableApisHeader{
  font-weight: 500;
}