@media only screen and (max-width: 768px) {
  .searchSection{
    width: 100%
  }

  .accordionScrollContainer {
    margin-bottom: 30px;
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .searchSection{
    width: 45%
  }

  .pageContentAccordionsContainer{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .accordionScrollContainer {
    height: 300px;
    overflow-y: auto;
  }

  .filter {
    padding-top: 1rem;
  }
}

.chosenOrgsListHeader{
  font-weight: 500;
}

.chooseApiSecondHeader{
  font-weight: 500;
}

.delegableApisHeader{
  font-weight: 500;
}

.actionBarWrapper{
  margin-top: 10px;
  margin-bottom: 10px;
}