.singleRightsSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 0.5rem 0;
}

.singleRightsList {
  list-style-type: none;
  padding: 0.5rem 0;
}

.singleRightItem {
  display: grid;
  grid-template-areas:
    'icon title type action'
    'icon owner type action';
  grid-template-columns: 30px minmax(30px, auto) minmax(30px, 120px) 30px;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0;
}

.singleRightItem > .title {
  grid-area: title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 16px;
}

.singleRightItem > .resourceType {
  grid-area: type;
  justify-content: center;
  color: var(--fds-colors-grey-700);
  font-size: 15px;
}

.singleRightItem > .resourceOwnerName {
  grid-area: owner;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--fds-colors-grey-700);
  font-size: 12px;
}

.singleRightItem > .action {
  font-size: 2rem;
  grid-area: action;
  justify-content: center;
}

.singleRightItem > .icon {
  font-size: 1.9rem;
  grid-area: icon;
}
