.heading {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 0;
}

.headingRow {
  display: flex;
  align-items: start;
  gap: 1rem;
  padding-bottom: 10px;
}

.subheading {
  color: var(--ds-color-neutral-text-subtle);
}

.tabs {
  justify-content: space-between;
}
