.heading {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 0;
}

.avatar {
  grid-area: avatar;
}
.name {
  grid-area: name;
}
.userRoles {
  grid-area: roles;
  margin-top: 0.7rem;
}
.subheading {
  grid-area: subheading;
}

.headingContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'avatar name'
    'avatar subheading'
    'roles roles';
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.23rem;
  margin-bottom: 1.5rem;
}

.tabs {
  justify-content: space-between;
}
