.pageHeading {
  margin-top: 15px;
  padding-bottom: 1rem;
}

.pageHeadingSkeleton {
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.pageHeadingContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.downloadButton {
  margin-top: var(--ds-spacing-2);
}
