.errorPageWrapper {
  margin: 0 auto;
  padding-top: 2rem;
}

.errorStatus {
  font-size: 14px;
  color: darkslategray;
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.4rem;
  margin-left: 1rem;
}

.errorContent {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 576px) {
  .header {
    font-size: 20px;
  }
}
