.consentsHeader {
  margin-top: 15px;
  padding-bottom: 1rem;
}

.activeConsentsSubHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--ds-size-4);
  margin-top: var(--ds-size-12);
}

.consentLogLink {
  font-size: var(--ds-font-size-4);
  display: flex;
  gap: var(--ds-size-1);
  align-items: flex-end;
}

.expandedListItem {
  padding: var(--ds-size-8) var(--ds-size-14);
}
.consentDialog {
  max-width: 50rem;
}

@media only screen and (max-width: 769px) {
  .expandedListItem {
    padding: var(--ds-size-2);
  }

  .consentBadge {
    display: none;
  }
}
