.consentHistoryPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-size-8);
  margin-top: var(--ds-size-4);
}

.consentSearchField {
  max-width: 20rem;
}

.consentDialog {
  max-width: 50rem;
}

.timelineContent {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-1);
  margin-bottom: var(--ds-size-3);
}

.consentLogTopHeader {
  margin-top: 15px;
}
