.compactListItem {
  display: flex;
  margin-left: 10px;
  min-height: 40px;
}

.baseListItemContent{
  display: flex;
  flex: 1;
  align-items: center;
}

.listItemIcon {
  margin-right: 10px;
}

.listItemTexts{
  flex: 2;
  display: flex;
  font-size: 16px;
  --list-text-color-error: #E02E49;
}

.leftText {
  width: 400px;
}

.middleText {
  flex:1;
}

.leftText__error {
  width: 400px;
  color: var(--list-text-color-error);
}

.middleText__error {
  flex:1;
  color: var(--list-text-color-error);
}

.deleteSection {
  justify-content: flex-end;
}
