@media only screen and (max-width: 768px) {

  .leftText {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .listItemTexts{
    flex: 1;
    display: flex;
    align-items: center;
  }

  .baseListItemContent{
    display: flex;
    flex: 1;
    align-items: center;
  }
}

@media only screen and (min-width: 769px) {
  .leftText {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    overflow-wrap: anywhere;
    word-break: normal;
  }

  .listItemTexts{
    flex: 1;
    display: flex;
    font-size: 16px;
    --list-text-color-error: #E02E49;
    align-items: center;
  }

  .baseListItemContent{
    display: flex;
    flex: 1;
    align-items: center;
  }
}

.leftText{
  word-break: break-word;
}

.compactListItem {
  display: flex;
  margin-left: 10px;
  min-height: 40px;
}

.listItemIcon {
  margin-right: 10px;
}

.middleText {
  flex: 1;
  display: flex;
  margin-right: auto;
  margin-left: 30px;
  word-break: break-word;
}

.leftText__error {
  color: var(--list-text-color-error);
}

.middleText__error {
  color: var(--list-text-color-error);
}

.deleteSection {
  display: flex;
  justify-content: flex-end;
}
