.container {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-3);
  padding: var(--ds-spacing-2);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'avatar title'
    'avatar subtitle';
  align-items: center;
  column-gap: var(--ds-spacing-2);
}

.avatar {
  grid-area: avatar;
  font-size: 2.75rem;
  width: 2.75rem;
  height: 2.75rem;
}

.headerText {
  grid-area: title;
}

.subheading {
  grid-area: subtitle;
}

.actions {
  display: flex;
  gap: var(--ds-spacing-4);
  align-items: center;
  padding-top: var(--ds-spacing-3);
  margin-bottom: var(--ds-spacing-1);
}
