.reviewModal {
  max-width: 992px;
  max-height: calc(100vh - var(--ds-spacing-8));
  overflow-y: auto;
}

.backButton {
  margin-bottom: var(--ds-spacing-1);
  margin-top: -0.7rem;
  translate: -1rem 0;
}

.reviewListView {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-3);
}

.closeButton {
  width: fit-content;
}

.userLink {
  color: var(--ds-color-accent-text-subtle);
}

.actionButtons {
  display: flex;
  gap: var(--ds-spacing-4);
  margin-top: var(--ds-spacing-4);
}

.processedStatus {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-2);
  padding-right: var(--ds-spacing-2);
  color: var(--ds-color-text-subtle);
}

.approvedIcon {
  color: var(--ds-color-success-base-default);
  font-size: var(--ds-font-size-7);
}

.rejectedIcon {
  color: var(--ds-color-danger-base-default);
  font-size: var(--ds-font-size-7);
}

.warningIcon {
  color: var(--ds-color-warning-base-default);
  font-size: var(--ds-font-size-7);
}

.chevronIcon {
  color: var(--ds-color-text-subtle);
  font-size: var(--ds-font-size-7);
}

@media (max-width: 600px) {
  .processedStatus p {
    display: none;
  }
}
