@media only screen and (min-width: 0px) {
  .searchSection{
    --searchFieldWidth: 100%
  }
}

@media only screen and (min-width: 700px) {

  .searchSection{
    --searchFieldWidth: 40%
  }
}

@media only screen and (min-width: 900px) {

  .searchSection{
    --searchFieldWidth: 40%
  }
}

.pageContent{
  --component-page-margin-horizontal: 3rem;
  margin-right: var(--component-page-margin-horizontal);
  margin-left: var(--component-page-margin-horizontal);
}

.pageContentAccordionsContainer{
    grid-template-columns: 1fr 1fr;
    display:grid;
}

.apiAccordions{
    margin-right: 3rem;
}


.searchSection{
  width: var(--searchFieldWidth);
}

.navButtonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.navButton{
  margin-right: 3rem;
  width: 10rem;
  margin-bottom: 70px;
}

.accordionScrollContainer {
  height: 300px;
  overflow-y: auto;
}

