.errorPageWrapper {
  margin-left: 40px;
  margin-right: 40px;
}

.errorMessage {
  font-size: 14px;
  color: darkslategray !important;
}

.contentText {
  font-size: 20px;
}

.flexContainer {
  display: flex;
  gap: 15px;
}

.leftContainer {
  flex: 3;
}

.rightContainer {
  align-self: center;
  padding-bottom: 40px;
}

@media only screen and (max-width: 576px) {
  .rightContainer {
    display: none;
  }

  .header {
    font-size: 20px;
  }

  .contentText {
    font-size: 14px;
  }
}
