.loadingSpinner {
  padding: 2px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--ds-size-2);
}
.listSearchAndFilter {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--ds-size-2);
}

.searchBar {
  max-width: 20rem;
}

.pagingContainer {
  justify-self: center;
  margin-top: var(--ds-size-4);
}

.listControls {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
}
