.loadingSpinner {
  padding: 2px;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--ds-size-2);
}

/* TODO: bug in altinn-components, non-interactive listItem should not show outline on hover */
.customerList li {
  outline: none !important;
}

.searchBar {
  max-width: 20rem;
}

.pagingContainer {
  justify-self: center;
  margin-top: var(--ds-size-4);
}
