.flexContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);
}

.dialogHeader {
  margin-bottom: var(--ds-size-6);
}

.createdBy {
  color: var(--ds-color-text-subtle);
  font-style: italic;
  align-self: flex-end;
}

.delegationModal {
  max-width: 60rem;
}

.customerHeading {
  margin-top: var(--ds-size-12);
}

.customerListSnackbar {
  align-self: flex-end;
  max-width: 20rem;
}

.addAllContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--ds-size-14);
  margin-bottom: var(--ds-size-12);
}
.progressBar {
  accent-color: var(--ds-color-primary);
  height: var(--ds-size-8);
}
