.userInfoBar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #1eadf7;
  display: flex;
  min-width: 280px;
  max-width: 1056px;
}

.userInfoContent {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 13px;
}

.userInfoText {
  font-weight: 500;
  margin: 0;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: right;
  word-break: break-word;
  font-size: 12px;
}

.companyIconContainer {
  align-self: center;
}

@media only screen and (max-width: 576px) {
  .userInfoBar {
    margin-left: 8px;
    margin-right: 8px;
  }
}
