.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.spacious {
  gap: 0.5rem;
}
.spacious > .listItem {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.listItem {
  background-color: #fff;
  border-bottom: 1px solid #e1e4e8;
}

.listItem:last-child {
  border-bottom: none;
}
