.container {
  width: 100%;
}

.search {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-2);
  justify-content: space-between;
  margin-bottom: var(--ds-spacing-4);
}

.searchBar {
  max-width: 23rem;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 4px;
}

.accessRoleItem {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
  padding: var(--ds-spacing-2);
  margin-left: var(--ds-spacing-10);
  margin-top: 10px;
}

.showMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.showMoreButton {
  min-width: 120px;
}
