.pageContainer{
    width: 60%;
    margin: auto;
    margin-top: 10rem;
}

.pageContent{
    --component-page-margin: 1rem;
    margin: var(--component-page-margin);
}

.pageContentAccordionsContainer{
    grid-template-columns: 1fr 1fr;
    display:grid;
}

.apiAccordions{
    margin: 2rem;
}