.pendingRequestsModal {
  max-width: 992px;
  max-height: calc(100vh - var(--ds-spacing-8));
  overflow-y: auto;
}

.closeButton {
  margin-top: var(--ds-spacing-4);
}

.backButton {
  margin-bottom: var(--ds-spacing-4);
}
