.infoHeading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lgAvatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.resourceOwner {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-2);
}

.resource {
  display: flex;
  flex-direction: column;
}

.resourceInfo {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
  padding-top: var(--ds-spacing-2);
  padding-bottom: var(--ds-spacing-1);
}

.rightsSection {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
  padding: 10px 15px 20px 0px;
}

.rightExpandableContent {
  padding: 10px 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.undelegableSection {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.undelegableHeader {
  white-space: nowrap;
}

.undelegableActions {
  font-family: monospace;
}

.rightChips {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.chip {
  font-family: monospace;
  font-weight: bold;
}

.editButtons {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .rightsSection {
    padding: 10px 0px;
  }
  .resourceOwner {
    padding-top: 4px;
  }
}
