.infoHeading {
  display: flex;
  align-items: center;
  gap: 10px;
}

.resourceIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.resource {
  display: flex;
  flex-direction: column;
}

.infoView {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 12px;
}

.rightsSection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 15px 20px 0px;
}

.rightExpandableContent {
  padding: 10px 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.cannotGiveSection {
  display: flex;
  gap: 10px;
}

.undelegableActions {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4;
}

.rightChips {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.chip {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.4;
  font-weight: bold;
}

.editButtons {
  display: flex;
  gap: 10px;
}
