.searchResults {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 500px;
}

.toolbarContainer ul {
  max-height: 30rem;
}

.pagination {
  margin-top: 16px;
  margin: auto;
}

.spinner {
  padding-top: 100px;
  margin: auto;
}
