.indent {
  margin-top: 0.3rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.noResultsContent {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  height: 100%;
  padding-top: 1rem;
}

.showMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.showMoreButton {
  width: 100%;
}
