@media only screen and (min-width: 0px) {
  .navButtonContainer {
    justify-content: center;
  }
}

@media only screen and (min-width: 576px) {
  .navButtonContainer {
    justify-content: flex-end;
  }
}

.navButtonContainer {
  margin-top: 2rem;
  display: flex;
  margin-bottom: 70px;
}

.navButtonLeft{
  justify-content: flex-start;
  display: flex;
  flex:1;
  margin-right: 10px;
  max-width: 130px;
}

.navButtonRight{
  justify-content: flex-end;
  display: flex;
  flex:1;
  margin-left: 10px;
  max-width: 130px;
}