.content {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
}

.usersSection {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-4);
}

.divider {
  margin-top: var(--ds-spacing-6);
}
