.headingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  max-width: 100%;
  word-break: break-word;
  padding-bottom: var(--ds-size-5);
}

.skeletonHeading {
  display: flex;
  align-items: center;
  gap: var(--ds-size-3);
}

.skeletonHeadingText {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
  flex: 1;
}
