@media only screen and (min-width: 576px) {
  .pageMargin{
    margin: 0 8px 0 8px;
  }
}

@media only screen and (min-width: 769px) {
  .pageMargin{
    margin: 0 16px 0 16px;
  }
}

@media only screen and (min-width: 992px) {
  .pageMargin{
    margin: 0 40px 0 40px;
  }
}

.pageContainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #1EADF7;
  min-width: 280px;
  max-width: 1056px;
  width: 100%;
}

.exitButton{
  display: flex;
  justify-content: flex-end;
}