.accessAreaContent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.accessAreaContentMargin {
  margin: 0 1.5rem 1.5rem 3.2rem;
}

.accessAreaList {
  width: 100%;
  height: 90%;
}

.loadingSpinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.showAvailablePackagesButton {
  width: fit-content;
}

.packagesTitle {
  font-size: var(--ds-font-size-minus-1);
}

.noAccessPackages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  margin: auto;
}
