.accordionContent{
    padding-left: 8rem;
    padding-right: 0.3rem;
}

.accordionHeader__softDelete{
    text-decoration: line-through;
    opacity: 70%;
}

.accordionDeleteButtonContainer{
  margin-left: 7.2px;
}

