.pageContentContainer {
  display: grid;
  grid-template-areas:
    'description description'
    'searchFormTextInput searchFormFilter'
    'searchresults selectedSearchResults'
    'navigation navigation';
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.delegableApisContainer {
  height: 400px;
  overflow-y: auto;
}

.explanationTexts {
  font-weight: 500;
}

.actionBarWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chooseApiSecondHeader {
  font-weight: 500;
  font-size: 20px;
  grid-area: description;
}

.searchFormTextInputSection {
  grid-area: searchFormTextInput;
}

.searchFormFilterSection {
  grid-area: searchFormFilter;
  display: flex;
  align-items: center;
}

.searchResultsSection {
  grid-area: searchresults;
}

.selectedSearchResultsSection {
  grid-area: selectedSearchResults;
}

.navigationSection {
  grid-area: navigation;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.semanticOnlyTag {
  display: contents;
}

@media only screen and (max-width: 768px) {
  .pageContentContainer {
    display: grid;
    grid-template-areas:
      'description'
      'selectedSearchResults'
      'searchFormTextInput'
      'searchFormFilter'
      'searchresults'
      'navigation';
    grid-template-columns: 1fr;
  }

  .delegableApisContainer {
    max-height: none;
    height: auto;
  }

  .navigationSection {
    flex-direction: column;
    gap: 15px;
    margin: 15px 0;
  }
}
