@media only screen and (max-width: 768px) {
  .overviewAccordionsContainer{
    margin-top: 0rem;
  }

  .delegateNewButton{
    margin-bottom: 1.3rem;
    margin-top: 0rem;
  }

  .activeDelegationsHeader {
    margin-top: 0.1rem;
  }

  .editButton {
    align-items: center;
    justify-content: end;
    margin-bottom: 0.3rem;
  }
}

@media only screen and (min-width: 769px) {
  .overviewActionBarContainer{
    margin-top: 3rem;
  }

  .delegateNewButton{
    margin-bottom: 3rem;
  }

  .activeDelegationsHeader {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }

  .saveSection{
    margin-right: 0.5rem;
    display: flex;
    justify-content: flex-end;
  }

  .editButton {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex: 1;
  }

  .explanatoryContainer{
    margin-top: 30px;
    display: flex;
  }
}

.noActiveDelegations {
  margin-top: 1.5rem;
}

.spinnerContainer{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.saveSection{
  margin-top: 2rem;
}

.apiSubheading{
  display: flex;
  margin-bottom: 2rem;
  font-weight: 500;
}

.pageContentText {
  margin-top: -2rem;
  font-weight: 500;
}

.link {
  color: black;
  text-decoration-line: underline;
  text-decoration-color: #1EADF7;
  display: inline-block;
  background: transparent;
}

.errorPanel{
  margin-top: 2rem;
}

.actionBarWrapper{
  margin-top: 5px;
  margin-bottom: 5px;
}

.testText {
  margin-right: 40px;
}

.testContent {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}