.searchBar {
  max-width: 27rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-4);
}

.controls {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-3);
}

.results {
  margin-top: var(--fds-spacing-3);
}

.emptyState {
  display: grid;
  gap: var(--fds-spacing-2);
}

.showMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.showMoreButton {
  width: 100%;
}
