:root { 
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {  
    font-family: 'Inter', sans-serif;
  }
}

@media only screen and (min-width: 0px) {
  .pageContent{
    --component-page-margin-horizontal: 0.5rem;
    margin-right: var(--component-page-margin-horizontal);
    margin-left: var(--component-page-margin-horizontal);
    overflow: hidden;
  }

  .pageContentActionBarContainer{
    width: 100%;
  }

  .actionBars{
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  .pageContent{
    --component-page-margin-horizontal: 3rem;
    margin-right: var(--component-page-margin-horizontal);
    margin-left: var(--component-page-margin-horizontal);
  }
  
  .pageContentActionBarContainer{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .actionBars{
    margin-right: 3rem;
  }
}

.backgroundColor{
  background-color: #1EADF7;
}

.spinnerContainer{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
