@import "@digdir/design-system-tokens/brand/digdir/tokens.css";

body {
  margin: 0;
}

:root { 
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {  
    font-family: 'Inter', sans-serif;
  }
}

.backgroundColor{
  background-color: #1EADF7;
}

.spinnerContainer{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
