@import "@digdir/design-system-tokens/dist/digdir/tokens.css";

.filterContent {
    display: flex;
    justify-content: center;
    max-height: inherit;
}

.optionList {
    display: flex;
    align-items: left;
    flex-direction: column;
    border: 1px solid var(--fds-semantic-border-neutral-divider);
    border-bottom: none;
}

.option {
    border-bottom: 1px solid var(--fds-semantic-border-neutral-divider);
    padding: 6px 10px 6px 10px;
}

.scrollContainer {
    overflow-y: auto;
    background-color: white;
    width: 100%
}

.searchField {
    padding: 12px 0px 12px 0px;
}