@import "@digdir/design-system-tokens/dist/digdir/tokens.css";

.popoverContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
}

.optionSection{
    max-height: 300px;
}

.optionSection.modal{
    max-height: 100%;
    min-height: 0;
    flex: 1;
}

.filterActions {
    --actionsFlexDirections: row;
    display: flex;
    justify-content: center;
    flex-direction: var(--actionsFlexDirections);
    padding: 15px 0 15px 0;
}

.filterActions.modal {
    --actionsFlexDirections: column;
    gap: 4px;
    align-items: center;
}

.resetButton {
    width: fit-content
}