.popoverContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
}

.optionSection{
    max-height: 300px;
}

.optionSection.modal{
    max-height: 100%;
    min-height: 0;
    flex: 1;
}

.popoverActions {
    --actionsFlexDirections: row;
    display: flex;
    justify-content: center;
    flex-direction: var(--actionsFlexDirections);
    padding: 15px 0 15px 0;
}

.popoverActions.modal {
    --actionsFlexDirections: column;
    gap: 4px;
    align-items: center;
}

.resetButton {
    width: fit-content
}

.icon {
    display: inline-block;
    height: var(--component-button-size-icon-small);
    width: var(--component-button-size-icon-small);
}

.icon.open {
    transform: rotate(180deg);
}

.filterButton {
    background-color: var(--semantic-surface-neutral-subtle);
    align-items: center;
    border-radius: 50px;
    border: solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    gap: 2px;
    font-family: inherit;
    font-weight: 500;
    height: var(--component-button-size-height-small);
    justify-content: center;
    letter-spacing: var(--typography-default-letter-spacing);
    padding: 0 var(--component-button-space-padding-x-small);
    text-align: center;
    max-width: 300px;
}

.filterButton:hover {
    background-color: var(--semantic-surface-neutral-subtle-hover);
}
.filterButton:focus-visible {
    outline: var(--semantic-tab_focus-outline-color) solid
    var(--semantic-tab_focus-outline-width);
    outline-offset: var(--semantic-tab_focus-outline-offset);
}
.filterButton:focus:not(:focus-visible) {
    outline: none;
}