@import "@digdir/design-system-tokens/dist/digdir/tokens.css";

.floatingOverlay {
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
}

.popover {
    z-index: 2;
    box-shadow: var(--fds-shadow-medium);
    padding: 20px 0px 6px 0px;
    width: 280px;
    margin-top: 10px;
    background-color: var(--fds-semantic-surface-neutral-subtle);
    border-radius: 20px;
}

.modal{
    z-index: 2;
    margin: 0;
    top: 50%;
    padding-top: 20px;
    width: 100%;
    bottom: 0;
    background-color: var(--fds-semantic-surface-neutral-subtle);
}