.delegation-overview-page__save-section{
    margin-top: 3rem;
    margin-right: 0.5rem;
    display: flex;
    float: right;
    justify-content: space-around;
}

.delegation-overview-page__page-content{
    margin: 2rem;
    overflow: hidden;
}