.iconContainer {
  display: flex;
}

.iconContainer > * {
  --component-button-size-icon-small: 1.5rem;
  min-height: var(--component-button-size-icon-small);
  min-width: var(--component-button-size-icon-small);
}

.chevron.open {
  transform: rotate(180deg);
}

.filterButton {
  background-color: var(--ds-color-neutral-background-tinted);
  padding: 0 18px;
  color: #000;
  border-radius: 50px;
  gap: 2px;
  min-height: 36px;
  max-height: 36px;
  font-size: 14px;
  font-weight: 500;
  max-width: 300px;
}

.filterButton:not([aria-disabled='true'], :disabled):hover {
  background-color: #e9eaec;
}

.filterButton:not([aria-disabled='true'], :disabled):active {
  background-color: #b6b6b6;
}

.activeBadge {
  background-color: var(--ds-color-accent-base-default);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -5px;
  top: -5px;
  font-family: inherit;
  font-weight: 500;
  font-size: small;
}

.filterButtonContainer {
  position: relative;
  width: fit-content;
}
