.popoverContent {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 15px 6px 15px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}

.optionSection {
  max-height: 300px;
}

.optionSection.modal {
  max-height: 100%;
  min-height: 0;
  flex: 1;
}

.filterActions {
  --actionsFlexDirections: row;
  display: flex;
  justify-content: center;
  flex-direction: var(--actionsFlexDirections);
  padding: 15px 0 15px 0;
  gap: 10px;
}

.filterActions.modal {
  --actionsFlexDirections: column;
  gap: 10px;
  align-items: center;
}

.resetButton {
  width: fit-content;
}

.loadingContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
