.content {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 15px 4px 15px;
}

.content .modal {
  padding-top: 6px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionSection {
  max-height: 300px;
}

.optionSection.modal {
  max-height: 100%;
  min-height: 0;
  flex: 1;
}

.filterActions {
  display: flex;
  justify-content: center;
  padding: 14px 0 14px 0;
  gap: 10px;
}

.resetButton {
  width: fit-content;
}

.loadingContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
