.floatingOverlay {
    z-index: 2;
}

.popover {
    overflow: clip;
    z-index: 2;
    box-shadow: var(--fds-shadow-medium);
    width: 280px;
    margin-top: 10px;
    background-color: var(--fds-semantic-surface-neutral-subtle);
    border-radius: 20px;
}

.popover.open {
    animation: popover-in 0.2s ease-out forwards;
}

.popover.closed {
    animation: popover-out 0.2s ease-in forwards;
}

.modal{
    overflow: clip;
    z-index: 2;
    margin: 0;
    width: 100%;
    top: 0%;
    bottom: 0;
    background-color: var(--fds-semantic-surface-neutral-subtle);
}

.modal.open {
    animation: modal-in 0.3s ease-out forwards;
}

.modal.closed {
    animation: modal-out 0.2s ease-out forwards;
}

@keyframes popover-in {
    0% {
        max-height: 0;
    }
    100% {
        max-height: 450px;
    }
}

@keyframes popover-out {
    0% {
        max-height: 450px;
    }
    100% {
        max-height: 0;
    }
}

@keyframes modal-in {
    0% {
        top: 100%;
    }
    100% {
        top: 0%;
    }
}

@keyframes modal-out {
    0% {
        top: 0%;
    }
    100% {
        top: 100%;
    }
}