.optionDisplay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: inherit;
}

.optionList {
  display: flex;
  align-items: start;
  flex-direction: column;
  border-left: 1px solid var(--ds-color-neutral-contrast-subtle);
  border-right: 1px solid var(--ds-color-neutral-contrast-subtle);
  border-top: 1px solid var(--ds-color-neutral-contrast-subtle);
}

.option {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--ds-color-neutral-contrast-subtle);
  background-color: var(--ds-color-neutral-contrast-default);
  cursor: pointer;
  font: inherit;
  text-align: left;
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.optionCheckbox {
  margin: 0 6px;
}

.optionCheckbox:hover > input {
  box-shadow: inset 0 0 0 2px var(--ds-color-accent-border-default);
}

.option:hover {
  background-color: var(--ds-global-blue-2);
  border-bottom: 2px solid var(--ds-color-accent-border-default);
  padding: 8px 0 7px 0;
}

.option:hover > .optionCheckbox {
  --ds-color-accent-border-default: var(--ds-color-accent-base-hover);
}

.option:hover > .optionLabel {
  cursor: pointer;
}

.option:active {
  background-color: #b3d0ea;
}

.scrollContainer {
  overflow-y: auto;
  background-color: white;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--ds-color-neutral-border-default) var(--ds-color-neutral-surface-default);
}

.searchField {
  padding-bottom: 8px;
}
