.optionDisplay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: inherit;
}

.optionList {
  --option-border-width: 1px;
  display: flex;
  flex-direction: column;
  border-top: var(--option-border-width) solid var(--fds-semantic-border-divider-default);
}

.option {
  border: var(--option-border-width) solid var(--fds-semantic-border-divider-default);
  border-top: none;
  padding: 6px 10px;
}

.optionLabel {
  flex: 1;
}

.option:hover {
  position: relative;
  background-color: var(--fds-semantic-surface-info-subtle);
}

.option:hover:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--option-border-width) * -1);
  border-bottom: calc(var(--option-border-width) * 2) solid var(--fds-semantic-border-input-hover);
}

.option:active {
  background-color: var(--fds-semantic-surface-info-subtle-hover);
}

.scrollContainer {
  overflow-y: auto;
  background-color: white;
  width: 100%;
}

.searchField {
  padding-bottom: 8px;
}
