.content {
    margin: 4px;
    margin-left: 20px;
}

.notDelegableContainer {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; 
  margin-right: 10px;
}

.notDelegableIcon {
  margin-left: 10px;
}