@media only screen and (max-width: 768px){
  .content {
      margin: 20px;
  }
}

@media only screen and (min-width: 769px){
  .content {
      margin: 40px;
  }
}

.notDelegableContainer {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; 
  margin-right: 10px;
}

.notDelegableIcon {
  margin-left: 10px;
}