.list {
  --backgroundColor: transparent;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.background {
  --backgroundColor: var(--ds-color-neutral-contrast-1);
}

.listItem {
  background-color: var(--backgroundColor);
  border-bottom: 1px solid #e1e4e8;
}

.listItem:last-child {
  border-bottom: none;
}

.spacious {
  gap: 0.5rem;
}

.spacious > .listItem {
  border-bottom: none;
}

.spacious > .listItem > .clickableItem {
  padding: 0.5rem;
}

.clickableItem {
  background-color: var(--backgroundColor);
  border-radius: 0;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  width: 100%;
}

.clickableItem:hover {
  --backgroundColor: var(--ds-color-neutral-surface-hover);
}

.clickableItem:active {
  --backgroundColor: var(--ds-color-neutral-surface-hover);
}
