.requestPageTabs {
  margin-top: var(--ds-size-4);
  margin-bottom: var(--ds-size-6);
}

.requestTab {
  display: flex;
  gap: var(--ds-size-2);
}

.errorWrapper {
  margin-bottom: var(--ds-size-4);
}

@media only screen and (max-width: 769px) {
  .requestItemBadge {
    display: none;
  }
}
