.requestList {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
  margin-bottom: var(--ds-spacing-2);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
}
