.singleRightsSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0 0.5rem 0;
}

.accessAreaContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.controls {
  display: flex;
  gap: 1rem;
  margin-right: 0.625rem;
}

.controls > button {
  white-space: nowrap;
}
