.systemUserDetails {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-18);
}

.createdBy {
  color: var(--ds-color-text-subtle);
  font-style: italic;
  align-self: flex-end;
}

.deletePopover {
  max-width: 23rem;
}

.systemUserDeleteButtonContainer {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
