.pageContent{
  --pageContentMargin: 1.5rem;
  margin-left: var(--pageContentMargin);
  margin-right: var(--pageContentMargin);
  margin-bottom: var(--pageContentMargin);
  padding: 0.5rem;
  overflow: hidden;
}


