.confirmPopupMessage {
  margin-bottom: 0.5rem;
  text-align: start;
}

.confirmPopupButtons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 1rem 0 1rem;
}

.popover {
  min-width: fit-content;
}
