.systemUserHeader {
  margin-top: var(--ds-size-12);
  margin-bottom: var(--ds-size-1);
}

.systemUserIngress {
  margin-top: var(--ds-size-4);
  margin-bottom: var(--ds-size-4);
  max-width: 40rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.systemUserTopHeader {
  margin-top: 15px;
}

.systemUserTabs {
  align-self: flex-start;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--ds-size-2);
}

.noPermissionsWarning {
  max-width: 35rem;
  margin-top: var(--ds-size-4);
}
