
@media only screen and (min-width: 0px) {
  .searchSection{
    --searchFieldWidth: 100%
  }
}

@media only screen and (min-width: 576px) {

  .searchSection{
    --searchFieldWidth: 40%
  }
}


.pageContentAccordionsContainer{
    grid-template-columns: 1fr 1fr;
    display:grid;
}

.apiAccordions{
    margin-right: 3rem;
}

.spinnerContainer{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.searchSection{
  width: var(--searchFieldWidth);
}

.navButtonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.navButton{
  margin-right: 3rem;
  width: 10rem;
  margin-bottom: 70px;
}

.accordionScrollContainer {
  height: 300px;
  overflow-y: auto;
}

.link {
  color: black;
  text-decoration-line: underline;
  text-decoration-color: #1EADF7;
  display: inline-block;
  background: transparent;
}
