.deleteSection {
    display: flex;
    align-items: center;
}

.listItem {
  --listItemHorizontalMargin: 1rem;
  display: flex;
  margin-top: var(--listItemHorizontalMargin);
  margin-bottom: var(--listItemHorizontalMargin);
}

.itemText {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.itemText__softDelete {
  text-decoration: line-through;
  opacity: 70%;
}

.listItemTexts {
  margin-right: 1.5rem;
}

.apiListItem {
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
  word-break: break-word;
  font-weight: 500;
}

.ownerListItem {
  margin-bottom: 0.7rem;
  word-break: break-word;
  font-weight: 400;
}

.scopeText{
  font-weight: 400;
}

.scopeListContainer{
  margin-top: 10px;
  margin-bottom: 20px;
}