.usersList {
  padding: 1rem 0;
}

.currentUser {
  margin-bottom: 2rem;
}

.inheritingUsers {
  margin-left: 3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.searchBar {
  max-width: 27rem;
}
