.inheritingRightHoldersList {
  margin: 0.5rem;
  margin-right: 0;
}

.usersListItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.usersList {
  padding: 1rem 0;
}

.usersListHeading {
  margin-top: 15px;
}

.searchBar {
  max-width: 27rem;
}

.searchAndAddUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
