.inheritingRightHoldersList {
  margin: 0.5rem;
  margin-right: 0;
}

.usersListItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.usersList {
  padding: 1rem 0;
}

.searchBar {
  max-width: 27rem;
}

.searchAndAddUser {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 15px;
}

.searchControls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.noAccessContainer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 700px) {
  .searchAndAddUser {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .searchControls {
    margin-left: 0;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
}
