.centerBlock {
  display: block;
  align-self: center;
  margin-top: var(--ds-size-4);
  max-width: 30rem;
}

.consentBlock {
  background-color: var(--ds-color-accent-background-default);
  padding: var(--ds-size-9) var(--ds-size-15);
  margin-bottom: var(--ds-size-12);
}
.headerBlock {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ds-size-6);
  padding-top: var(--ds-size-14);
  margin-bottom: 3px;
}

.consentContent {
  display: flex;
  flex-direction: column;
  max-width: 55rem;
}

.heading {
  font-weight: var(--ds-font-weight-semibold);
  font-size: var(--ds-body-md-font-size);
  margin-bottom: var(--ds-size-8);
}

.consentMessage {
  margin-bottom: var(--ds-size-13);
}

.serviceIntro {
  font-weight: var(--ds-font-weight-medium);
  font-size: var(--ds-body-md-font-size);
  margin-bottom: var(--ds-size-8);
}

.handledBy {
  margin-top: var(--ds-size-5);
}

.expiration {
  font-weight: var(--ds-font-weight-semibold);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--ds-size-4);
  margin-top: var(--ds-size-13);
  margin-bottom: var(--ds-size-6);
}

.consentReceipt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--ds-size-8);
  align-self: center;
  height: 100%;
  max-width: 27rem;
}

@media only screen and (max-width: 769px) {
  .consentBlock {
    padding-left: var(--ds-size-6);
    padding-right: var(--ds-size-6);
    margin-bottom: 6px;
  }
}
