# You must set these env variables to run the Playwright tests
USERNAME_TEST_API=asdasd
PASSWORD_TEST_API=asdasd
MASKINPORTEN_CLIENT_ID=your-client-id-here
MASKINPORTEN_JWK={"kty":"RSA","kid":"..."}


# Copy this file to .env and fill in your actual values

# Maskinporten specifics
# https://docs.digdir.no/docs/Maskinporten/maskinporten_guide_apikonsument.html

# Private JWK key in JSON format
# Generate private and public keys using: node playwright/util/jwkGenerator.ts or https://github.com/Altinn/altinn-authorization-utils/tree/main/src/Altinn.Cli or even on https://sjolvbetjening.test.samarbeid.digdir.no/login (generate key pairs directly)
# Example format:
{
  "alg": "RS256",
  "d": "AKSjdklasjdasd",
  "dp": "askldjasdjklasdk",
  "dq": "dYtqdQpqONJZMKRCUj8Ok6lQgfeycafmwHMygQ6r9HpGIePjPu3RWKI5LsIj1ZI_4LPQOu7vh6aI5LuPufFLt12anNumGWpDQRvd-uq0M_536joAiOBxMCBV1O4wxGQO5IBU5Tyvg6hTtd3QkKczA_xejfkkWqPqQNZy7cJXTfM",
  "e": "AQAB",
  "key_ops": [],
  "kid": "playwright-XXXX",
  "kty": "RSA",
  "n": "asgasgsgasgasgasg",
  "oth": [],
  "p": "asdasdadssdp8",
  "q": "asd-asd-38PJ-XPDEAY9ekNfZWK2fL_-zM",
  "qi": "asd-agSzjussdtoAWqRb0QlTN-BQ-asd-8C8_2vz6EuySrpyE",
  "use": "sig",
  "x5c": []
}
MASKINPORTEN_JWK={"kty":"RSA","kid":"..."}

