.borderedListItem {
  --borderStyle: none;
  border-bottom-color: #bcc7cc;
  border-bottom-width: 1px;
  border-bottom-style: var(--borderStyle);
}

.dashed {
  --borderStyle: dashed;
}

.solid {
  --borderStyle: solid;
}
