.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-spacing-3);
  padding-bottom: var(--ds-spacing-4);
}

.resourceOwner {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-2);
}

.ownerTag {
  color: var(--ds-color-text-default);
}

.ownerName {
  color: var(--ds-color-text-subtle);
}

.metadataRow {
  width: 100%;
  font-size: 0.875rem;
  color: var(--ds-color-text-subtle);
}

.description {
  margin: 0;
}

@media (max-width: 600px) {
  .resourceOwner {
    padding-top: 4px;
  }

  .metadataRow {
    grid-template-columns: 1fr;
  }
}
