.roleArea {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-5);
  margin-bottom: var(--ds-spacing-2);
}

.roleLists {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
}
