.modal {
  max-width: 600px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 100%;
}

.contentBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.reasonsSection {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.reasonList {
  margin: 0;
  padding-left: 1.25rem;
}

.reasonList li {
  margin: 0;
}

.dangerIcon {
  color: var(--ds-color-danger-base-default);
}

.infoLine {
  display: flex;
  align-items: top;
  gap: 0.5rem;
}

.buttons {
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
