.modal {
  max-width: 600px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: var(--dsc-spacing-lg);
  min-height: 100%;
}

.contentBody {
  display: flex;
  flex-direction: column;
  gap: var(--dsc-spacing-lg);
}

.reasonsSection {
  display: flex;
  flex-direction: column;
  gap: var(--dsc-spacing-md);
}

.reasonList {
  margin: 0;
  padding-left: var(--dsc-spacing-xl);
}

.reasonList li {
  margin: 0;
}

.dangerIcon {
  color: var(--ds-color-danger-base-default);
}

.infoLine {
  display: flex;
  align-items: flex-start;
  gap: var(--dsc-spacing-md);
}

.buttons {
  padding-top: var(--dsc-spacing-md);
  display: flex;
  flex-wrap: nowrap;
  gap: var(--dsc-spacing-md);
}
