.modal {
  max-width: 600px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
}

.buttons {
  display: flex;
  gap: var(--ds-spacing-2);
  margin-top: var(--ds-spacing-2);
}
