@media only screen and (max-width: 768px) {
  .content {
    margin: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .content {
    margin: 20px;
  }
}

.notDelegableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  gap: 5px;
  color: var(--ds-color-danger-text-default);
}

.loadingText {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-right: 12px;
  color: var(--ds-color-neutral-8);
}

.actionBarButtonText {
  white-space: nowrap;
}
