.user {
  --backgroundColor: var(--fds-semantic-surface-neutral-default);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  border: 0;
  background-color: var(--backgroundColor);
}

.subtle {
  --backgroundColor: var(--fds-semantic-surface-neutral-subtle);
}

.light {
  --backgroundColor: var(--fds-semantic-surface-neutral-default);
}

.user.expandable:hover {
  --backgroundColor: var(--fds-semantic-surface-neutral-subtle-hover);
}

.user.expandable:active {
  --backgroundColor: var(--fds-semantic-surface-neutral-selected);
}

.user.lg {
  padding: 1.25rem 1.25rem;
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
  border-radius: 2px;
}

.user.md {
  padding: 0.75rem 1rem;
}

.user.sm {
  padding: 0.5rem 1rem;
}

.lg > .icon {
  margin-right: 0.5rem;
}

.md > .icon {
  margin-right: 0.25rem;
}

.headerText {
  text-align: start;
}

.roleListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.expandedContent {
  background-color: var(--fds-semantic-surface-neutral-subtle);
}
