.headingContainer {
  display: grid;
  grid-template-areas:
    'icon heading'
    'status status'
    'description description';
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
}

.packageIcon {
  grid-area: icon;
  height: 2.6rem;
  width: 2.6rem;
  margin: auto;
}

.pageHeading {
  grid-area: heading;
  max-width: 100%;
  word-break: break-word;
}

.statusSection {
  grid-area: status;
}

.pageDescription {
  grid-area: description;
  max-width: 100%;
  word-break: break-word;
}
