.tabContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0 0.5rem 0;
}

.noUsersAlert {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.noUsersAlertIcon {
  color: var(--ds-color-warning-base-default);
}

@media (max-width: 768px) {
  .tabContent {
    padding: 1rem 4px;
  }
}
