.rightsListWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-10);
}

.resourceInfoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ds-size-4);
  margin-bottom: var(--ds-size-4);
}
.resourceInfoIcon {
  font-size: var(--ds-font-size-8);
}
.resourceInfoText {
  flex: 1;
}

.accessPackages {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.backButton {
  margin-bottom: var(--ds-size-4);
}

.rightsList {
  margin-top: var(--ds-size-2);
}
