.selectedResourcesContent {
  margin: 0.4rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.searchSection {
  margin-top: 3.5rem;
}

.searchInputs {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: end;
}

.searchField {
  width: 50%;
}

.resultCountAndChips {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--fds-spacing-2);
  margin-top: var(--fds-spacing-8);
}

.filterChips {
  display: flex;
  flex-wrap: wrap;
}

.serviceResources {
  margin-top: var(--fds-spacing-2);
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}

.serviceResourceContent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.pagination {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 50px;
  min-height: 820px;
}

.searchError {
  margin-top: 32px;
}

.navigationButtons {
  margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
  .searchInputs {
    flex-direction: column;
    align-items: start;
  }

  .searchField {
    width: 100%;
  }

  .notDelegableAlert {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 769px) {
  .notDelegableAlert {
    margin-bottom: 30px;
  }

  .filter {
    padding-bottom: 5px;
  }
}
