.buttonRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--ds-size-4);
  margin-top: var(--ds-size-6);
  margin-bottom: var(--ds-size-6);
}

.resourceInfo {
  margin-bottom: var(--ds-size-2);
}

.closeWindowInfo {
  font-weight: var(--ds-font-weight-semibold);
  margin-top: var(--ds-size-6);
}

.backButton {
  margin-bottom: var(--ds-size-2);
  translate: -1rem 0;
}

.multipleDraftRequests {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
}

.seeDetails {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
  color: var(--ds-color-text-subtle);
}
