.systemUserDetailsHeader {
  display: flex;
  gap: var(--ds-size-4);
  align-items: center;
  max-width: 42rem;
}

.systemUserDetailsHeaderAvatar {
  font-size: var(--ds-font-size-10);
}

.headingContainer {
  flex: 1;
}
