@media only screen and (min-width: 576px) {
  .pageMargin{
    margin: 0;
  }
}

@media only screen and (min-width: 769px) {
  .pageMargin{
    margin: 0 16px 0 16px;
  }
}

@media only screen and (min-width: 992px) {
  .pageMargin{
    margin: 0 40px 0 40px;
  }
}

.pageMargin{
  margin-top: 20px;
}

.pageContainer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: #1EADF7;
  min-width: 280px;
  max-width: 1056px;
  width: 100%;
}

.closeButtonContainer{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.closeButton{
  border-radius: 50%;
  background-color: #FFFFFF;
  border: none;
  padding: 0px;
  height: 36px;
  padding-top: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 6px;
}

.closeButton:hover{
  background-color: #d6eefd;
}