.landingPage {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-8);
}

.landingPageHeading {
  padding: var(--ds-size-3) var(--ds-size-2);
  background-color: var(--ds-color-background-default);
  box-shadow: var(--ds-shadow-xs);
  border-radius: var(--ds-border-radius-sm);
}

.landingPageAlert {
  padding-top: var(--ds-size-2);
  padding-bottom: var(--ds-size-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-size-3);
  white-space: pre-line;
}

:root {
  --row-gap: var(--ds-size-5);
  --separator-height: var(--ds-border-width-default);
}

.listItemContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: var(--ds-size-2);
}

.listItemContainer.menuList {
  gap: var(--row-gap);
  padding: var(--ds-size-2);
  border-radius: var(--ds-border-radius-md);
  margin-top: var(--ds-size-4);
  box-shadow: var(--ds-shadow-xs);
  background-color: var(--ds-color-background-default);
}

.listItemContainer.menuList > li:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: calc(var(--row-gap) * -0.5 - var(--separator-height));
  height: var(--separator-height);
  left: 2px;
  right: 2px;
  pointer-events: none;
  background-color: var(--ds-color-neutral-border-subtle);
}

.cardItem {
  padding: var(--ds-size-2);
  border-radius: var(--ds-border-radius-md);
  margin-top: var(--ds-size-1);
  box-shadow: var(--ds-shadow-xs);
}
