@media only screen and (max-width: 768px) {
  .pageHeader {
    gap: 1rem;
    padding-left: 1.2rem;
  }
}

@media only screen and (min-width: 769px) {
  .pageHeader {
    gap: 1.5rem;
    padding-left: 2rem;
  }
}

.pageHeader {
  height: var(--page-header-height);
  background-color: var(--component-page_header-background-color);
  display: flex;
  width: 100%;
  color: var(--component-page_header-color);
  padding-right: 2rem;
  box-sizing: inherit;
  align-items: center;
  font-size: var(--page_header-title-font-size);
  fill: var(--component-page_header-color);
}

.pageHeader.dark {
  --component-page_header-background-color: var(--ds-color-accent-13);
  --component-page_header-color: var(--ds-color-accent-contrast-1);
}

.pageHeader.light {
  --component-page_header-background-color: var(--ds-color-neutral-contrast-1);
  --component-page_header-color: var(--ds-color-neutral-base-default);
  border-bottom: solid 1px var(--ds-color-neutral-border-subtle);
}

.pageHeader.success {
  --component-page_header-background-color: var(--ds-color-success-surface-default);
  --component-page_header-color: var(--ds-color-success-text-default);
}

.pageHeader.danger {
  --component-page_header-background-color: var(--ds-color-danger-surface-default);
  --component-page_header-color: var(--ds-color-danger-text-default);
}

.pageHeader.small {
  --page_header-title-font-size: 9px;
  --page-header-height: 72px;
}

.pageHeader.medium {
  --page_header-title-font-size: 13px;
  --page-header-height: 96px;
}

.icon.small > * {
  min-width: 28px;
  min-height: 28px;
}

.icon.medium > * {
  min-width: 40px;
  min-height: 40px;
}

.headerText {
  font-weight: 400;
}
