@media only screen and (max-width: 768px) {
  .page-header {
    gap: 1rem;
    padding-left: 1.2rem;
  }
}

@media only screen and (min-width: 769px) {
  .page-header {
    gap: 1.5rem;
    padding-left: 2rem;
  }
}

.page-header {
  height: var(--page-header-height);
  background-color: var(--component-page_header-background-color);
  display: flex;
  width: 100%;
  color: var(--component-page_header-color);
  padding-right: 2rem;
  box-sizing: inherit;
  align-items: center;
  font-size: var(--page_header-title-font-size);
  fill: var(--component-page_header-color);
}

.page-header--primary {
  --component-page_header-background-color: var(--semantic-surface-action-active);
  --component-page_header-color: white;
}

.page-header--success {
  --component-page_header-background-color: #17c96b;
  --component-page_header-color: black;
}

.page-header--small {
  --page_header-title-font-size: 9px;
  --page-header-height: 72px;
}

.page-header--medium {
  --page_header-title-font-size: 13px;
  --page-header-height: 96px;
}

.page-header__icon--small {
  min-width: 28px;
  min-height: 28px;
}

.page-header__icon--medium {
  min-width: 40px;
  min-height: 40px;
}

.headerText {
  font-weight: 400;
}
