@media only screen and (max-width: 0px) {
  .elementContainer {
    justify-content: center;
    margin-bottom: 0px;
  }

  .leftElement {
    max-width: 50%;
  }

  .rightElement {
    max-width: 50%;
  }
}

@media only screen and (min-width: 769px) {
  .elementContainer {
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .leftElement {
    max-width: 130px;
  }

  .rightElement {
    max-width: 130px;
  }
}

.elementContainer {
  margin-top: 2rem;
  display: flex;
}

.leftElement {
  justify-content: flex-start;
  display: flex;
  flex: 1;
  margin-right: 10px;
}

.rightElement {
  justify-content: flex-end;
  display: flex;
  flex: 1;
  margin-left: 10px;
}
