.navButtonContainer{
  margin-top: 8rem;
  display: flex;
  justify-content: end;
  margin-bottom: 70px;
}

.previousButton{
  display: flex;
  margin-right: 3rem;
}

.confirmButton{
  display: flex;
}

.bottomText{
  margin-top: 40px;
  font-weight: normal;
}

.listText {
  margin-top: 40px;
  font-weight: normal;
}

.restartButton {
  display: flex;
  justify-content: center;
}