.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.actions {
  display: flex;
  gap: 0.5rem;
}
