.skeletonContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.skeletonHeader {
  margin-bottom: 1.5rem;
}

.skeletonFilters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
