.dialogContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resourceContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.headerRow {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.resourceIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
