.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.showMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.showMoreButton {
  width: 100%;
}

.resourceListContainerMaxHeight {
  max-height: 282px;
  overflow-y: auto;
  overflow-x: visible;
}
