.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.showMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

.showMoreButton {
  width: 100%;
}

.resourceListContainer {
  padding-top: 4px;
}

.resourceListContainer.maxHeight {
  min-height: 120px;
  max-height: 282px;
  overflow-y: auto;
  overflow-x: visible;
}
