.accordion {
  --component-accordion-color-background: var(--colors-white);
  --component-panel-size-width: 100%;
  background-color: var(--component-accordion-color-background);
  width: var(--component-panel-size-width);
}

.actionBar {
  --component-actionbar_header-border_top_style: solid;
  display: flex;
  border-width: 1px;
  border-style: var(--component-actionbar_header-border_top_style);
  border-radius: 4px;
}

.actionBar__open{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-style: none;
}

.actionBar__expandable{
  cursor:pointer;
}

.actionBar__open:hover{
  border-bottom-style: none;
}

.actionBar__light {
  border-color: #D2D5D8;
  background-color: #FFFFFF;
}

.actionBar__light__expandable:hover {
  background-color: #E9EAEC;
}

.actionBar__neutral {
  border-color: #D2D5D8;
  background-color: #F4F5F6;
}

.actionBar__neutral__expandable:hover {
  background-color: #E9EAEC;
}

.actionBar__warning {
  border-color: #CC7005;
  background-color: #FFFBE6;
}

.actionBar__warning__expandable:hover {
  background-color: #FFF4B4;
}

.actionBar__success {
  border-color: #118849;
  background-color: #D1F4E1;
}

.actionBar__success__expandable:hover {
  background-color: #8BE4B5;
}

.actionBar__danger {
  border-color: #E02E49;
  background-color: #F9D5DB;
}

.actionBar__danger__expandable:hover {
  background-color: #F3ABB6;
}

.actionBarButton {
  --component-actionbar_header_title-color-background: none;
  font-family: inherit;
  flex: 1 1 auto;
  border-style: none;
  text-align: var(--component-actionbar_header_title-text-align);
  background-color: var(--component-actionbar_header_title-color-background);
  font-size: var(--font_size-300);
  margin-left: 5px;
  line-height: 16px;
  word-break: break-word;
}

.actionBarButton__expandable {
  cursor: pointer;
}

.actionBarActions {
  display: flex;
  grid-auto-flow: column;
  column-gap: 0.3rem;
  align-items: center;
  padding: 0;
  margin-right: 10px;
}

.actionBarActions__expandable {
  cursor:pointer;
}

.actionBarSubtitle{
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}


.actionBar__subtitle{
  height: 68px;
}

.actionBar__onlyTitle{
  height: 48px;
}

.actionBarIcon{
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.actionBarCenterText{
  display: flex;
  align-items: center;
  justify-content: start;
  border-style: none;
  background-color: inherit;
  padding: 0;
  word-break: break-word;
  font-size: 16px;
  font-weight: 400;
}

.actionBarCenterText__expandable{
  cursor: pointer;
}

.actionBarTitle{
  font-weight: 500;
}