@import "@digdir/design-system-tokens/dist/digdir/tokens.css";

.actionBarContent {
  border-width: 1px;
  border-style: solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: var(#FFFFFF);
}

.actionBarContent.light {
  border-color: var(--fds-semantic-border-neutral-subtle);
  border-top-color: var(--fds-semantic-surface-neutral-default);
}

.actionBarContent.neutral {
  border-color: var(--fds-semantic-border-neutral-subtle);
  border-top-color: var(--fds-semantic-surface-neutral-subtle);
}

.actionBarContent.warning {
  border-color: var(--fds-semantic-border-warning-default);
  border-top-color: var(--fds-semantic-surface-warning-subtle);
}

.actionBarContent.success {
  border-color: var(--fds-semantic-surface-success-default);
  border-top-color: var(--fds-semantic-surface-success-subtle);
}

.actionBarContent.danger {
  border-color: var(--fds-semantic-surface-danger-default);
  border-top-color: var(--fds-semantic-surface-danger-subtle);
}