.actionBar{
    display: flex;
    padding-left: 1rem;
    border-top: 1px solid #efefef;
  }
  
.title {
    margin-top: 1rem;
    margin-bottom: 0;
}

.subtitle {
    opacity: 60%;
    font-weight: bold;
}

.actionButton {
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}