.actionBar{
    display: flex;
    padding-left: 1rem;
    border-top: 1px solid #efefef;
  }
  
.title {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.subtitle {
    opacity: 60%;
    font-weight: bold;
}

.actionButton {
    margin: 0.5rem 0.5rem 0.5rem auto;
}