.modalDialog {
  max-width: 992px;
}

.triggerButton {
  width: fit-content;
}

.backButton {
  padding-left: 0;
  padding-top: 0;
  margin-top: -12px;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: var(--ds-spacing-10);
}
