.modalDialog {
  max-width: 992px;
  max-height: calc(100vh - var(--ds-spacing-16));
  overflow-y: auto;
}

.triggerButton {
  width: fit-content;
}

.backButton {
  padding-left: 0;
  padding-top: 0;
  margin-top: -12px;
}
