.statusSection {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.inheritedInfoIcon {
  color: var(--ds-color-info-base-default);
  margin-right: 0.3rem;
}

.infoLine {
  display: flex;
  gap: 5px;
  align-items: center;
}

.delegationCheckInfoIcon {
  color: var(--ds-color-warning-base-default);
  margin-right: 0.3rem;
}

.dangerIcon {
  color: var(--ds-color-danger-base-default);
  margin-right: 0.3rem;
}

.hasPackageInfoIcon {
  color: var(--ds-color-success-base-default);
  margin-right: 0.3rem;
}
