.tabContent {
  padding: 1.5rem 0 0.5rem 0;
}

@media (max-width: 768px) {
  .tabContent {
    padding: 1rem 4px;
  }
}

.innerTabContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tabLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .tabLabel {
    flex-direction: column;
    gap: 0.125rem;
    font-size: 0.7rem;
    padding-inline: 0.25rem;
  }

  .tabList > * {
    padding-inline: 0.375rem !important;
  }
}
