@media only screen and (max-width: 768px) {
  .content {
    padding: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .content {
    padding: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.chipContainer {
  display: flex;
  gap: 5px;
  padding-top: 15px;
  flex-wrap: wrap;
}

.alertContainer {
  padding-top: 5px;
}

.alertHeader {
  margin-bottom: 10px;
}

.undelegableRightsHeader {
  margin-top: 15px;
}

.alertErrorContainer {
  margin-bottom: 35px;
}
