.newApiAccordionContent{
  margin-left: 50px;
  margin-right: 20px;
}

.scopeText{
  font-weight: 500;
}

.scopeItems {
  word-break: break-word;
  margin: 10px;
}

.line{
  margin-top: 25px;
  margin-right: 5px;
}

.contentTexts{
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottomContentTexts{
  margin-bottom: 20px;
}

.actionBarHeaderTitle{
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 5px;
}

.delegationActionBar{
  margin-right: 10px;
}
