.toolbarContainer {
  margin-bottom: var(--ds-spacing-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resourceSearchResult {
  margin-bottom: var(--ds-spacing-3);
  min-height: 420px;
  width: 100%;
}

@media (max-width: 600px) {
  .toolbarContainer {
    flex-direction: column;
    align-items: flex-end;
    gap: var(--ds-spacing-2);
  }
}
