.alertContainer {
  margin: 20px 0;
}

.chipContainer {
  margin: 15px 0;
}

.headerSpacing {
  margin-bottom: 10px;
}

.paragraphSpacing {
  margin-bottom: 15px;
}

.successfulChipsContainer {
  margin-top: 30px;
}

.content {
  margin: 20px;
}
