.poaList {
  padding: var(--ds-spacing-2) 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-4);
  padding: var(--ds-spacing-2) 0;
}

.search {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-2);
  justify-content: space-between;
}

.searchBar {
  max-width: 27rem;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 4px;
}

.accessRoleItem {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
  padding: var(--ds-spacing-2);
  margin-left: var(--ds-spacing-10);
}

.showMoreButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: var(--ds-spacing-4);
  width: 100%;
}

.showMoreButton {
  width: 100%;
}
