@media only screen and (max-width: 768px) {
  .searchSection {
    width: 100%;
  }

  .chosenOrgs {
    margin-bottom: 1.5rem;
  }

  .topText {
    font-size: 20px;
  }

  .delegableOrgsContainer {
    margin-bottom: 2rem;
  }

  .chosenOrgsContainer {
    margin-bottom: 2rem;
  }

  .pageContentActionBarContainer {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .actionBarScrollContainer {
    height: 300px;
    overflow-y: auto;
  }

  .searchSection {
    width: 47.5%;
  }

  .delegableOrgsContainer {
    margin-right: 25px;
  }

  .chosenOrgsContainer {
    margin-left: 25px;
  }

  .pageContentActionBarContainer {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}

.navButtonContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.navButton {
  margin-right: 3rem;
  width: 10rem;
  margin-bottom: 70px;
}

.link {
  color: black;
  text-decoration-line: underline;
  text-decoration-color: #1eadf7;
  display: inline-block;
  background: transparent;
}

.chooseOrgText {
  font-weight: normal;
}

.actionBarContainerText {
  margin-bottom: 5px;
  font-weight: 500;
}

.topText {
  font-weight: 500;
}

.chosenOrgsHeader {
  font-weight: 500;
  margin-bottom: 5px;
}

.actionBarWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}
