.agentTabContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
}

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--ds-size-3);
}

.filters label {
  white-space: nowrap;
}
