.actionBar {
  --border-color: var(--a2-color-neutral-border-default);
  --background-color: var(--a2-color-neutral-surface-default);
  --text-color: var(--a2-semantic-text-neutral-on_inverted);
  display: flex;
  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  outline: none;
  color: var(--text-color);
}

.actionBar.clickable {
  cursor: pointer;
}

.actionBar:not([class*='clickable']) {
  padding-left: 4px;
}

.actionBar.small {
  border-color: var(--background-color);
  background-color: var(--background-color);
}

.actionBar.medium {
  border-color: var(--border-color);
  background-color: var(--background-color);
  min-height: 56px;
}

.actionBar.large {
  border-color: var(--border-color);
  background-color: var(--background-color);
  min-height: 100px;
  border-width: 1px;
}

.actionBar.open {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-style: none;
}

.actionBar.small.light {
  border-color: var(--border-color);
  background-color: var(--background-color);
}

.actionBar.light {
  --border-color: var(--a2-color-neutral-border-default);
  --background-color: #fff;
}

.actionBar.light.clickable:hover {
  --background-color: var(--a2-color-neutral-surface-hover);
}

.actionBar.light.clickable:active {
  --background-color: var(--a2-color-neutral-surface-active);
}

.actionBar.dark {
  --text-color: #fff;
  --border-color: #67707c;
  --background-color: #243142;
}

.actionBar.dark.clickable:hover {
  --background-color: #333e4e;
}

.actionBar.dark.clickable:active {
  --background-color: #424d5b;
}

.actionBar.neutral {
  --border-color: var(--a2-color-neutral-border-default);
  --background-color: var(--a2-color-neutral-surface-default);
  --text-color: var(--a2-color-neutral-text-default);
}

.actionBar.neutral.clickable:hover {
  --background-color: var(--a2-color-neutral-surface-hover);
}

.actionBar.neutral.clickable:active {
  --background-color: var(--a2-color-neutral-surface-active);
}

.actionBar.warning {
  --border-color: var(--a2-color-warning-border-default);
  --background-color: var(--a2-color-warning-surface-default);
  --text-color: var(--a2-color-warning-text-default);
}

.actionBar.warning.clickable:hover {
  --background-color: var(--a2-color-warning-surface-hover);
}

.actionBar.warning.clickable:active {
  --background-color: var(--a2-color-warning-surface-active);
}

.actionBar.success {
  --border-color: var(--a2-color-success-border-default);
  --background-color: var(--a2-color-success-surface-default);
  --text-color: var(--a2-color-success-text-default);
}

.actionBar.success.clickable:hover {
  --background-color: var(--a2-color-success-surface-hover);
}

.actionBar.success.clickable:active {
  --background-color: var(--a2-color-success-surface-active);
}

.actionBar.danger {
  --border-color: var(--a2-color-danger-border-default);
  --background-color: var(--a2-color-danger-surface-default);
  --text-color: var(--a2-color-danger-text-default);
}

.actionBar.danger.clickable:hover {
  --background-color: var(--a2-color-danger-surface-hover);
}

.actionBar.danger.clickable:active {
  --background-color: var(--a2-color-danger-surface-active);
}

.actionBarHeader {
  --component-actionbar_header_title-color-background: none;
  padding: 0px 4px 0px 8px;
  text-align: left;
  flex: 1;
  justify-content: flex-start;
  background-color: var(--component-actionbar_header_title-color-background);
  color: inherit;
  line-height: 16px;
  word-break: break-word;
}

.actionBarHeader.clickable {
  cursor: pointer;
}

.actionBarActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
  padding: 0;
  height: auto;
  cursor: pointer;
  margin-right: 10px;
}

.actionBarSubtitle {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.actionBar.subtitle {
  padding-top: 4px;
  padding-bottom: 4px;
}

.actionBarIcon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.actionBarIcon.large {
  margin-right: 16px;
  margin-left: 8px;
}

.actionBarAdditionalText {
  display: flex;
  align-items: center;
  justify-content: start;
  border-style: none;
  color: inherit;
  background-color: inherit;
  padding: 0;
  word-break: break-word;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
  margin-left: 10px;
}

.actionBarAdditionalText.clickable {
  cursor: pointer;
}

.actionBarTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title,
.subtitle {
  color: var(--text-color);
}

.title {
  font-weight: 500;
}

.title > p {
  margin: 0px;
}

.actionBarButtonContainer {
  display: flex;
  height: 100%;
}
