.actionBarContent {
  border-style: solid;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(#ffffff);
  --border-color: var(--ds-color-neutral-border-subtle);
  --header-color: var(--ds-color-neutral-contrast-1);
}

.actionBarContent.small {
  border-width: 2px;
  border-color: var(--header-color);
}

.actionBarContent.medium {
  border-width: 1px;
  border-color: var(--border-color);
}

.actionBarContent.large {
  border-width: 1px;
  border-color: var(--border-color);
}

.actionBarContent.light {
  border-color: var(--border-color);
  --border-color: var(--ds-color-neutral-border-default);
  --header-color: var(--ds-color-neutral-contrast-1);
  border-top-width: 1px;
}

.actionBarContent.small.light {
  border-width: 1px;
}

.actionBarContent.dark {
  --border-color: #67707c;
  --header-color: #243142;
  border-top-color: var(--header-color);
}

.actionBarContent.neutral {
  --border-color: #d2d5d8; /*var(--ds-color-neutral-border-default); */
  --header-color: #f4f5f6; /*var(--ds-color-neutral-surface-default); */
  border-top-color: var(--header-color);
}

.actionBarContent.warning {
  --border-color: var(--ds-color-warning-border-default);
  --header-color: var(--ds-color-warning-surface-default);
  border-top-color: var(--header-color);
}

.actionBarContent.success {
  --border-color: var(--ds-color-success-border-default);
  --header-color: var(--ds-color-success-surface-default);
  border-top-color: var(--header-color);
}

.actionBarContent.danger {
  --border-color: var(--ds-color-danger-border-default);
  --header-color: var(--ds-color-danger-surface-default);
  border-top-color: var(--header-color);
}
