.actionBarContent {
  border-style: solid;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(#ffffff);
  --border-color: var(--fds-semantic-border-neutral-subtle);
  --header-color: var(--fds-semantic-surface-neutral-default);
}

.actionBarContent.small {
  border-width: 2px;
  border-color: var(--header-color);
}

.actionBarContent.medium {
  border-width: 1px;
  border-color: var(--border-color);
}

.actionBarContent.large {
  border-width: 1px;
  border-color: var(--border-color);
}

.actionBarContent.light {
  border-color: var(--border-color);
  --border-color: var(--fds-semantic-border-neutral-subtle);
  --header-color: var(--fds-semantic-surface-neutral-default);
  border-top-width: 1px;
}

.actionBarContent.small.light {
  border-width: 1px;
}

.actionBarContent.dark {
  --border-color: var(--semantic-surface-action-active);
  --header-color: var(--semantic-surface-action-active);
  border-top-color: var(--header-color);
}

.actionBarContent.neutral {
  --border-color: var(--fds-semantic-border-neutral-subtle);
  --header-color: var(--fds-semantic-surface-neutral-subtle);
  border-top-color: var(--header-color);
}

.actionBarContent.warning {
  --border-color: var(--fds-semantic-surface-warning-default);
  --header-color: var(--fds-semantic-surface-warning-subtle);
  border-top-color: var(--header-color);
}

.actionBarContent.success {
  --border-color: var(--fds-semantic-surface-success-subtle-hover);
  --header-color: var(--fds-semantic-surface-success-subtle);
  border-top-color: var(--header-color);
}

.actionBarContent.danger {
  --border-color: var(--fds-semantic-surface-danger-subtle-hover);
  --header-color: var(--fds-semantic-surface-danger-subtle);
  border-top-color: var(--header-color);
}
