.actionBar {
  --component-actionbar_header-border_top_style: solid;
  display: flex;
  border-width: 1px;
  border-style: var(--component-actionbar_header-border_top_style);
  border-radius: 4px;
  min-height: 48px;
  outline: none;
}

.actionBar.open{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-style: none;
}

.actionBar.clickable{
  cursor:pointer;
}

.actionBar.clickable:focus{
  --fds-inner-focus-border-color: #1e2b3c;
  --fds-outer-focus-border-color: #fadf4b;
  --fds-focus-border-width: 3px;
  outline: var(--fds-focus-border-width) solid var(--fds-outer-focus-border-color);
  outline-offset: var(--fds-focus-border-width);
  box-shadow: 0 0 0 var(--fds-focus-border-width) var(--fds-inner-focus-border-color);
}

.actionBar.light {
  border-color: var(--fds-semantic-border-neutral-subtle);
  background-color: var(--fds-semantic-surface-neutral-default);
}

.actionBar.light.clickable:hover {
  background-color: var(--fds-semantic-surface-neutral-subtle-hover);
}

.actionBar.neutral {
  border-color: var(--fds-semantic-border-neutral-subtle);
  background-color: var(--fds-semantic-surface-neutral-subtle);
}

.actionBar.neutral.clickable:hover {
  background-color: var(--fds-semantic-surface-neutral-subtle-hover);
}

.actionBar.warning {
  border-color: var(--fds-semantic-border-warning-default);
  background-color: var(--fds-semantic-surface-warning-subtle);
}

.actionBar.warning.clickable:hover {
  background-color: var(--fds-semantic-surface-warning-subtle-hover);
}

.actionBar.success {
  border-color: var(--fds-semantic-surface-success-default);
  background-color: var(--fds-semantic-surface-success-subtle);
}

.actionBar.success.clickable:hover {
  background-color: var(--fds-semantic-surface-success-subtle-hover);
}

.actionBar.danger {
  border-color: var(--fds-semantic-surface-danger-default);
  background-color: var(--fds-semantic-surface-danger-subtle);
}

.actionBar.danger.clickable:hover {
  background-color: var(--fds-semantic-surface-danger-subtle-hover);
}

.actionBarHeader {
  --component-actionbar_header_title-color-background: none;
  display: flex;
  align-items: center;
  padding: 1px 4px 1px 9px;
  flex: 1 1 auto;
  border-style: none;
  text-align: var(--component-actionbar_header_title-text-align);
  background-color: var(--component-actionbar_header_title-color-background);
  font-family: inherit;
  font-size: var(--font_size-300);
  line-height: 16px;
  word-break: break-word;
}

.actionBarHeader:focus {
  outline: none;
}

.actionBarHeader.clickable {
  cursor: pointer;
}

.actionBarActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 0.3rem;
  padding: 0;
  height: auto;
  cursor: pointer;
  margin-right: 10px;
}

.actionBarSubtitle{
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.actionBar.subtitle{
  min-height: 68px;
}

.actionBarIcon{
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.actionBarAdditionalText{
  display: flex;
  align-items: center;
  justify-content: start;
  border-style: none;
  background-color: inherit;
  padding: 0;
  word-break: break-word;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
}

.actionBarAdditionalText.clickable{
  cursor: pointer;
}

.title{
  font-weight: 500;
}

.subtitle{
  font-weight: 400;
  margin-top: 8px;
}

.actionBarTexts{
  margin-top: 5px;
  margin-bottom: 5px;
}