name: template-build-and-push-container.yml

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: altinn/altinn-access-management-frontend
  CONTAINER_APP_CONTAINER_NAME: altinnaccessmanagementui

on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
        description: 'Container Tag'

jobs:
  build-and-push:
    name: 'Build and Push Container'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        name: Checkout repository
      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        name: Login to Container registry
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        name: Build and Push Docker image
        with:
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ inputs.tag }}
  